service: rewards-api

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  memorySize: 256
  timeout: 30
  environment:
    STAGE: ${self:provider.stage}

functions:
  api:
    handler: handler.api
    events:
      - httpApi: '*'
